body {
    text-align: center;
    
}


button {
    background: red;
    padding:20px 45px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
    
}
button:hover {
    background: black;
    
}
